<head th:insert="fragments/head.html :: head">
	<meta charset="utf-8">
</head>
<header th:insert="fragments/header.html :: header"></header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Listado de Categorías</strong></h4>              
          <div class="card-body">
            <a class="btn btn-primary" th:href="@{/categorias/create}" role="button"><i class="fas fa-file" aria-hidden="true"></i> Nueva</a>            
            <hr>
            <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Operaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="cat : ${listaCarga}">
                  <th scope="row" th:text="${cat.id}"></th>
                  <td th:text="${cat.nombre}"></td>
                  <td th:text="${cat.descripcion}"></td>
                  <td>
                   <a href="#" class="btn btn-success btn-sm" role="button" title="Editar el registro."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                    <a href="#" onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar el registro."><i class="fas fa-trash" aria-hidden="true"></i></a>
                  </td>
                </tr>                              
              </tbody>
            </table>
            
          </div>
        </div>
      </div> <!-- /container -->

    </main>

  	<footer th:insert="fragments/footer :: footer" class="footer"></footer>    
  </body>
</html>